.add-todo {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.add-todo input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-left: 0.5rem;
    width: calc(100% - 3.5rem);
}

.add-todo input::placeholder {
    color: rgba(0, 0, 0, 0.32);
}

@media screen and (max-width: 600px) {
    .add-todo input {
        width: calc(100% - 2.3rem);
    }
}